# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# VSCode & IDEs
.vscode/
.idea/
*.code-workspace

# Logs & temp files
*.log
*.tmp
*.swp
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS specific
Thumbs.db
ehthumbs.db
desktop.ini

# Docker
*.tar
*.gz
docker-compose.override.yml

# Jenkins
/jenkins_home/
*.jenkins.log

# Test reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
pytestdebug.log

# Pip
pip-log.txt
pip-delete-this-directory.txt
